<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
        <%= form.select :type, Event::TYPE.map {|obj| [obj.humanize, obj]}, class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title , class:"form-control", required:true%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description , class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :start_dt %>
  <div class="form-group">
    <%= datepicker_field(form, :start_dt) %>
  </div>

  <div class="field">
    <%= form.label :end_dt %>
    <div class="form-group">
    <%= datepicker_field(form, :end_dt) %>
  </div>

  <div class="field">
    <%= form.label :address %>
     <%= form.text_area :address, class:"form-control", required:true %>
  </div>
<br/>
  <div class="field">
    <%= form.label :status %>
    <% if @event.attending_students.size > 0 %>
    <%= form.select :status, Event::STATUS.map {|obj| [obj.humanize, obj]}, {},{class:'form-control', :disabled=>true} %>
    <% else %>
    <%= form.select :status, Event::STATUS.map {|obj| [obj.humanize, obj]},{}, {class:'form-control'}%>
    <% end %>
  </div>
<br/>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">

</script>