

<h1>

  <%= @poll.title %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @poll.description %>
</p>
 <p> <strong>Efective from:</strong>
  <%= @poll.start_dt %>

  <strong>To:</strong>
  <%= @poll.end_dt %>
</p>
<hr/>

<div class="">

    <% @poll.poll_votes.each do |vote| %>
      <strong><%= vote.name %></strong>  <label>Votes: <%= vote.count %></label>
      <form action="/polls/<%= @poll.id %>/vote" method="post" data-remote="true">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" id="pollvote_id" name="pollvote_id" value="<%= vote.id %>">
        <input type="hidden" id="option" name="option" value="<%= vote.value %>">
        <input type="submit" name="Vote" value="Vote" data-confirm="Are you sure voting for <%= vote.name %>?">
     </form>
    <% end %> 
</div>     
<br/>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<br/>
<%= link_to 'Back', student_root_path %>



<script>
$(document).on("turbolinks:load", loadFunction);

function loadFunction() {

$.getScript( "https://canvasjs.com/assets/script/jquery-1.11.1.min.js", function( data, textStatus, jqxhr ) {
  $.getScript( "https://canvasjs.com/assets/script/jquery.canvasjs.min.js", function( data, textStatus, jqxhr ) {
    var options = {
      animationEnabled: true,
      title: {
        text: "Graph"
      },
      axisY: {
        title: "Votes",
        suffix: ""
      },
      axisX: {
        title: "Candidates"
      },
      data: [{
        type: "column",
        yValueFormatString: "#,##0.0#"%"",
        dataPoints: [
         <% @poll.poll_votes.each do |vote| %>
          { label: '<%= vote.name%>', y: <%= vote.count %> },  
         <% end %> 
        ]
      }]
    };
    $("#chartContainer").CanvasJSChart(options);
  
  });

});


}
</script>