  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </div>

  <div class="field">
    <%= form.label :library_location %>
    <%= form.text_field :library_location %>
  </div>

  <div class="field">
    <%= form.label :book_store %>
    <%= form.text_field :book_store %>
  </div>