<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Student Activities</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home_styles', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <%= link_to (image_tag "main_logo.png", class:"logo_img"), student_root_path %>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul> -->
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
      </form> -->
      <% if student_signed_in? %>
          <%= button_to "Account", edit_student_registration_path(current_student), class:"btn btn-outline-success my-2 my-sm-0 log_out", :method=>"get" %> 
          <% if current_student.purchases %>
          |
          <%= button_to "Purchases", product_purchases_path(current_student.purchases.first), class:"btn btn-outline-success my-2 my-sm-0 ", :method=>"get" %> 
          <% end %>
          |
          <div class="float-sm-left px-3">
          <%= button_to "Log Out", destroy_student_session_path, class:"btn btn-outline-danger my-2 my-sm-0 log_out ", :method=>"delete" %>
        </div>

      <% end %>
    </div>
  </nav>
  <div class="container">
          <% if !notice.nil? %>
      <div class="alert alert-info alert-dismissible">
          <a href="#" id="notice" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= notice.html_safe.to_s unless notice.blank? %>
        </div>
    <% end %>

    <% if !flash[:recaptcha_error].nil? %>
      <div  class="alert alert-warning" role="alert">
          <a href="#" id="warning" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= flash[:recaptcha_error].html_safe unless flash[:recaptcha_error].blank? %>
      </div>
    <% end %>

      <% if !alert.nil? %>
      <div  class="alert alert-warning" role="alert">
          <a href="#" id="warning" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= alert.html_safe.to_s unless alert.blank? %>
      </div>
    <% end %>
    <%= yield %>
  </div>
                   <!-- myModal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalTitle">Search</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="modal">

                </div>

              </div>
            </div>
          </div>
</body>
<footer class="container">
    <p>&copy; 2020</p>
  </footer>

</html>